{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <title>Document</title> 
    <style>
        h1{
            text-align: center;
        }
        body{
            /* background-color: blueviolet; */
            /* color: aliceblue; */
        }
        .img-fluid{
            border: 1px solid;
            border: radius 10px;
        }
    </style>
</head>
<body>
    <div class="container my-2">
   <h1><b>Glaucoma Detection</b></h1>

    <p>
        Traffic signs location and acknowledgment is an critical viewpoint for giving security for all the street clients. 
        Various computer vision frameworks have been created as of late for traffic signs examination. But the characteristics of existing 
        calculations are still not great sufficient to substitute a human operator. Over the world, 1.2 million individuals were slaughtered in traffic crashes in 2002, 
        which was 2.1% of all worldwide passings and the 11th positioned cause of passing [1]. These days, we are moving towards 
        a unused period in which, much obliged to advances, crashes are uncommon or maybe then commonplace. In truth, modern Brilliantly 
        Transport Frameworks (ITS) have been presented in automotive industry in arrange to spare cash and lives, and to create the driving secure and convenient. 
        There have been a part of innovative headways and cars with auto-pilot mode have come up. 
        Independent vehicles have come into presence. There has been a boom in the self-driving car industry.

    </p>
    <h2>
        
    </h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum culpa quos illo eveniet dignissimos nulla aliquid. 
    Voluptatibus quod animi quasi ipsam perspiciatis maxime, porro similique inventore in rem corrupti eligendi?</p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit.Laboriosam, maxime eaque dolorum labore quae perferendis 
        mollitia sapiente nulla sunt illo! Ratione debitis harum doloribus esse excepturi incidunt enim explicabo voluptatem.
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, enim voluptatem itaque consectetur, nam nemo eaque 
         assumenda cupiditate provident, tempora voluptate. 
        Cumque dicta, soluta voluptatem iste numquam harum. Deserunt, nihil. </p>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
            Consequuntur aperiam veniam aspernatur earum inventore, tempore deleniti velit libero, 
            accusantium atque accusamus doloremque praesentium temporibus repellat? Impedit neque ullam eligendi nobis?
        </p>
        

     
        <div class="row">
            <div class="col-6 my-2">
                <img src="{% static 'images/nml.png' %}" alt="My image" class="img-fluid my-2" style="height:10% width:555px;">
                <img src="{% static 'images/nmk.jpg' %}" alt="My image" class="img-fluid" style="height:10% width:555px;">
            </div>
            <div class="col-6"> 
                <h2>
                    How to Detect in Glaucoma 
                </h2>
                <p>
                    Glaucoma is a group of eye conditions that damage the optic nerve. The optic nerve sends visual information from your eye to your brain and is vital for good vision. Damage to the optic nerve is often related to high pressure in your eye. But glaucoma can happen even with normal eye pressure.<hr>
                    <B>Data Collection:</b> Measures intraocular pressure (IOP) to assess the risk of glaucoma. Elevated IOP is a common risk factor.
<hr>
    <b>Preprocessing:</b> Clean and preprocess the images to ensure consistency and enhance features. This may include resizing, normalization, and augmentation.<hr>
    <b>Model Selection:</b> Choose a suitable machine learning model for object detection. Convolutional Neural Networks (CNNs) are commonly used for image-related tasks.<hr>
    <b>Training:</b> Train your model using the labeled dataset. The model learns to identify patterns and features that distinguish one traffic sign from another.<hr>
    <b>Post-Processing:</b> Depending on the requirements, you may need to post-process the results to improve accuracy or filter out false positives.
    <hr>
    
    <p>Several libraries and frameworks, such as TensorFlow and OpenCV, provide tools for building and deploying such computer vision models. Keep in mind that the accuracy of the model depends on the quality and diversity of the training data, as well as the complexity of the model architecture.
    
    
    
    
    </p>
    
    
    
    
    
                </p>
            </div>
        </div>
         
        </div>


    </div>
</body>
</html>



